<div class="f-info">
    <div class="f-info-scoials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-linkedin"></i>
    </div>
    <div>&copy;Wanderlust private limited</div>
    <div class="f-info-links">
        <a href="/privacy" class="privacy">privacy</a>
        <a href="/terms" class="terms">terms</a>
    </div>
</div>